<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Anime Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Anime Search</h1>

    <form method="POST" action="/">
        <input type="hidden" name="media_type" id="media-type-input" value="MANGA">
        <input type="text" name="query" placeholder="Search for media..." required>
        <button type="submit">Search</button>
    </form>

    <div class="buttons">
        <button type="button" class="media-btn active" data-type="ANIME">Anime</button>
        <button type="button" class="media-btn" data-type="MANGA">Manga</button>
    </div>

    {% if results %}
      <div class="results">
        {% for anime in results %}
          <div class="anime-card">
            <img src="{{ anime.image }}" alt="{{ anime.title }}">
            <p>{{ anime.title }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
